<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <div class="col-sm-12">
        <%= render :partial =>"shared/flash_messages"%>
        <section class="panel panel-default">
          <header class="panel-heading" style="background:#FFF;">
            <h3 style="color:#717171;">Customer Installment Submission </h3>
          </header>
          <div class="panel-body">
            <%= form_for @submit_installment,:url=>town_submit_installments_path ,:html =>{:class=>"panel-body wrapper-lg"} do |f|  %>

                <div class="form-group">
                  <label class=" control-label">Customer</label>
                  <%=f.collection_select :customer_id, current_user.town.customers.all,:id,:name,{:prompt => "Please select a Customer"},{:class=>"form-control select-customer"}%>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label customer-info">Installment Amount:</label>
                  <label class="col-md-3 control-label installment_amount customer-info"> 0 </label>
                  <label class="control-label customer-info">Remaining Installments:</label>
                  <label class="control-label rem-installment customer-info"> 0 </label>
                </div>

                <div class="form-group">
                  <label class="control-label "> Number of Installments: </label>
                  <input class="form-control no-of-installment number-input" type="number" name="number_of_installment[number]" id="number_of_installment_number">
                </div>

                <div class="form-group">
                  <label class=" control-label customer-info">Total Amount:</label>
                  <label class=" control-label total-amount customer-info"> 0 </label>
                </div>

                <div class="form-group">
                  <label class=" control-label">Submission Date</label>
                    <%= f.date_field :submit_date, :class=>"form-control  input-lg  date-picker" %>
                </div>

                <div class="form-group">
                  <%= f.submit :class=>"btn btn-primary",:value=>"Add" %>
                  <%= button_tag "Cancel", :type => 'reset',:class=>"btn" %>
                </div>

            <% end %>
          </div>
        </section>

      </div>
    </section>
  </section>
</section>
