<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <div class="col-sm-12">
        <%= render :partial =>"shared/flash_messages"%>
        <section class="panel panel-default">
          <header class="panel-heading" style="background:#FFF;">
            <h3 style="color:#717171;">Add New Plot </h3>
          </header>
          <div class="panel-body">
            <%= form_for @plot,validate: true, :url=>town_plots_path ,:html =>{:class=>"panel-body wrapper-lg"} do |f|  %>

                <div class="form-group">
                  <label class="control-label">Plot Number</label>
                    <%=f.text_field :plot_number, :class=>"form-control  input-lg", placeholder: "Plot Number" %>
                </div>

                <div class="form-group">
                  <label class=" control-label">Total Price</label>
                    <%=f.text_field :total_price, :class=>"form-control  input-lg", placeholder: "Total Price" %>
                </div>

                <div class="form-group">
                  <label class="control-label"> Plot Area</label>
                    <%=f.text_field :area, :class=>"form-control  input-lg", placeholder: "Area" %>
                </div>

                <div class="form-group">
                  <label class="control-label"> Plot Length</label>
                    <%=f.text_field :length, :class=>"form-control  input-lg", placeholder: "Length" %>
                </div>

                <div class="form-group">
                  <label class=" control-label"> Plot Width</label>
                    <%=f.text_field :width, :class=>"form-control  input-lg", placeholder: "Width" %>
                </div>

                <div class="form-group">
                    <%= f.submit :class=>"btn btn-primary",:value=>"Add" %>
                    <%= button_tag "Cancel", :type => 'reset',:class=>"btn" %>
                </div>
            <% end %>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>