<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <div class="col-sm-12">
        <%= render :partial =>"shared/flash_messages"%>
        <section  class="panel panel-default bg-white">
          <header class="panel-heading" style="background:#FFF;margin-left:10px;">
            <div class="pull-right">
              <%#button%>
            </div>
            <strong><h3>Expense Details</h3></strong>
          </header>
          <div style="padding:25px">
            <table cellspacing="0" cellpadding="0" border="0" >
              <tbody>
              <tr class="row">
                <th>Description</th>
                <td><%= @expense.description%></td>
              </tr>
              <tr class="row">
                <th>Amount</th>
                <td><%= @expense.amount%></td>
              </tr>
              <tr class="row">
                <th>Expense Type</th>
                <td><%= @expense.expense_type.name%></td>
              </tr>
              <tr class="row">
                <th>Expense Date</th>
                <td><%= @expense.expense_date%></td>
              </tr>
              <tr class="row">
                <th>Status</th>
                <td><%= @expense.status%></td>
              </tr>
              <tr class="row">
                <th>Created At</th>
                <td><%= @expense.created_at.strftime("%d-%m-%Y %H:%M %p") %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>
<style>
    table{
        width:100%;
    }
    td{
        padding:10px;
    }

    tr{
        border-bottom:1px dashed #F0F0F0;
    }
    th{
        padding: 10px;
    }
</style>
