<section id="content">
  <section class="vbox">
    <section class="scrollable padder">

      <section class="panel panel-default">
        <header class="panel-heading" style="overflow:auto;background:#FFF;">
          <h4 style="margin-bottom:0px;"> <%=@title%> </h4>

          <%= render :partial =>"shared/flash_messages"%>
          <i data-title="ajax to load the data." data-placement="bottom" data-toggle="tooltip" class="fa fa-info-sign text-muted" data-original-title="" title=""></i>

        </header>

        <div class="table-responsive">
          <table class="table table-striped m-b-none" data-ride="datatables" style="font-size:15px;font-weight:300!important;">
            <thead>
            <tr>
              <th style="font-weight:500;">Name</th>
              <th style="font-weight:500;">CNIC</th>
              <th style="font-weight:500;">Address</th>
              <th style="font-weight:500;">Plot Number</th>
              <th style="font-weight:500;">Contact Number</th>
              <th style="font-weight:500;">Remaining Amount</th>
              <th style="font-weight:500;">Given Amount</th>
              <th style="font-weight:500;">Action</th>
            </tr>
            </thead>
            <tbody>
            <%@customers.each do |e|%>
                <tr>
                  <td><%=e.name%></td>
                  <td><%=e.cnic%></td>
                  <td><%=e.address.address_1%></td>
                  <td><%=e.plot.plot_number%></td>
                  <td><%=e.address.phone_number1%></td>
                  <td><%=e.installment.total_amount - e.installment.advance_amount- (e.submit_installments.count * e.installment.per_installments_amount)%></td>
                  <td><%=e.installment.advance_amount + (e.submit_installments.count * e.installment.per_installments_amount) %></td>
                  <td class="text-right">
                    <a href="<%= town_customer_path(e) %>" style="float:left;">Show</a>
                    <div class="btn-group">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="<%=edit_town_customer_path(e)%>">Edit</a></li>
                        <li><%=link_to "Delete",town_customer_path(e), :method => :delete, :confirm => "Are you sure?"%></li>
                      </ul>
                    </div>
                  </td>

                </tr>
            <%end%>
            </tbody>
            <tbody>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </section>
  <a data-target="#nav" data-toggle="class:nav-off-screen" class="hide nav-off-screen-block" href="#"></a>
</section>
