<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <div class="col-sm-12">
        <%= render :partial =>"shared/flash_messages"%>
        <section  class="panel panel-default bg-white">
          <header class="panel-heading" style="background:#FFF;margin-left:10px;">
            <div class="pull-right">
              <%#button%>
            </div>
            <strong><h3>Customer Details</h3></strong>
          </header>
          <div style="padding:25px">
            <table cellspacing="0" cellpadding="0" border="0" >
              <tbody>
              <tr class="row">
                <th>Customer Name</th>
                <td><%= @customer.name%></td>
              </tr>
              <tr class="row">
                <th>Father Name</th>
                <td><%= @customer.f_name%></td>
              </tr>
              <tr class="row">
                <th>Customer CNIC</th>
                <td><%= @customer.cnic%></td>
              </tr>
              <tr class="row">
                <th>Address</th>
                <td><%= @customer.address.address_1 %></td>
              </tr>
              <tr class="row">
                <th>Contact Number</th>
                <td><%= @customer.address.phone_number1 %></td>
              </tr>
              <tr class="row">
                <th>Secondary Contact Number</th>
                <td><%= @customer.address.secondary_phone_number %></td>
              </tr>
              <tr class="row">
                <th>Customer's Plot Number</th>
                <td><%= @customer.plot.plot_number %></td>
              </tr>
              <tr class="row">
                <th>Total Amount</th>
                <td><%= @customer.installment.total_amount %></td>
              </tr>
              <tr class="row">
                <th>Advance Amount</th>
                <td><%= @customer.installment.advance_amount %></td>
              </tr>
              <tr class="row">
                <th>Total Number of Installments</th>
                <td><%= @customer.installment.total_number_of_installments %></td>
              </tr>
              <tr class="row">
                <th>Per Installment Amount</th>
                <td><%= @customer.installment.per_installments_amount %></td>
              </tr>
              <tr class="row">
                <th>Created At</th>
                <td><%= @customer.created_at.strftime("%d-%m-%Y %H:%M %p") %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>
<style>
    table{
        width:100%;
    }
    td{
        padding:10px;
    }

    tr{
        border-bottom:1px dashed #F0F0F0;
    }
    th{
        padding: 10px;
    }
</style>