<section id="content">
  <section class="vbox">
    <section class="scrollable padder">

      <section class="panel panel-default">
        <header class="panel-heading" style="overflow:auto;background:#FFF;">
          <h4 style="margin-bottom:0px;"> <%=@title%> </h4>
          <div class="pull-right">
            <%=link_to "ADD Investment Amount",new_town_investment_path,:class=>"btn btn-info"%>
          </div>
          <%= render :partial =>"shared/flash_messages"%>
          <i data-title="ajax to load the data." data-placement="bottom" data-toggle="tooltip" class="fa fa-info-sign text-muted" data-original-title="" title=""></i>

        </header>

        <div class="table-responsive">
          <table class="table table-striped m-b-none" data-ride="datatables" style="font-size:15px;font-weight:300!important;">
            <thead>
            <tr>
              <th style="font-weight:500;">Name</th>
              <th style="font-weight:500;">Address</th>
              <th style="font-weight:500;">Action</th>
            </tr>
            </thead>
            <tbody>
            <%@stake_holders.each do |e|%>
                <tr>
                  <td><%=e.name%></td>
                  <td><%=e.address.address_1 %></td>
                  <td class="text-right">
                    <a href="<%= town_stake_holder_path(e) %>" style="float:left;">Show</a>
                    <div class="btn-group">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="<%=edit_town_stake_holder_path(e)%>">Edit</a></li>
                        <li><%=link_to "Delete", town_stake_holder_path(e), :method => :delete, :confirm => "Are you sure?"%></li>
                      </ul>
                    </div>
                  </td>

                </tr>
            <%end%>
            </tbody>
            <tbody>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </section>
  <a data-target="#nav" data-toggle="class:nav-off-screen" class="hide nav-off-screen-block" href="#"></a>
</section>