<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <title>TOWN ONLINE</title>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "main" %>
</head>
<body>
<section class="vbox">
  <header class="bg-dark dk header navbar navbar-fixed-top-xs" style="margin-top:0px;">
    <div class="navbar-header aside-md">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
        <i class="fa fa-bars"></i>
      </a>
      <!--<a href="#" class="navbar-brand" data-toggle="fullscreen">-->
      <!--<img src="/images/logo-small.png" class="m-r-sm">-->
      <h1 class="logo"  class="navbar-brand" data-toggle="fullscreen" style="font-size:20px;margin-top: 14px;padding-left:9px;letter-spacing:1px;font-weight:400;">
          <span style="color:#65bd77;"></span></a>
        <%= image_tag("town.png", :alt => "logo",:width => 190) %>
      </h1>
      <!--</a>-->
      <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
        <i class="fa fa-cog"></i>
      </a>
    </div>


  </header>
  <section>

      <%=yield%>

  </section>
</section>
<%=javascript_include_tag "/javascripts/bootstrap-filestyle.min"%>
</body>

</html>









